@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    margin:0px;
    background-color: var(--bg-white);
}

.bg-color{
    display: none;
}

.wrapper{
    height:auto;
    width:100%;
}
  

header{
    width:100%;
    height: 488px;
    position:relative;
    overflow: hidden;
}


.logo{
    width:146px;
    height:32px;
    margin-top:40px;
    margin-left:24px;
}

.bg-light{
    width: 148%;
    height: 675px;
    left: 4px;
    top: -130px;
    position: absolute;
}

.mobile{
    width:208px;
    height:430px;
}

.section-one{
    width: 327px;
    height: 320px;
    margin: -363px auto;
}

h1{
    font-size:var(--heading-m);
    font-weight:var(--heading-weight);
    width:100%;
    height:144px;
    color:var(--text-black);
    font-style:normal
}

.para-one{
    width:100%;
    font-size: var(--body-m);
    font-weight: var(--body-weight);
    line-height: 26px;
    color:var(--text-black);
    font-style:normal;
    margin-top:20px;
}

.section-two{
    width:100%;
    height:600px;
    background-color: var(--bg-black);
    border-radius: 12px;
    margin-top:550px;
}

.mobile{
    position: absolute;
    width:208px;
    height:430px;
    margin-left:80px;
    margin-top:-98px;
}

.bg-mobile{
    position: absolute;
    width:280px;
    height:420px;
    margin-left:48px;
}

.wrapper-two{
    width:375px;
    height:600px;
    margin:0 auto;
}

.section-three{
    width:100%;
    height:546px;
    background-color:var(--bg-orange);
    position:absolute;
    margin-top:-220px;
    border-radius: 12px;
}


.wrapper-three{
    width:375px;
    height:546px;
    margin:0 auto;
}



h2{
    margin-top:48px;
    color:var(--text-white);
    font-size:32px;
    line-height:40px;
    font-weight:var(--heading-weight);
    font-style:normal;
    width:302px;
    height:40px;
    margin-left:36px;
}

.para-two{
    width:302px;
    height:140px;
    color:var(--text-white);
    font-size:18px;
    line-height: 28px;
    font-weight: var(--body-weight);
    margin-left:36px;
    margin-top:12px;
}

.price-div{
    width:165px;
    height:52px;
    margin-top:36px;
    margin-left:42px;
    color:var(--text-white);
    font-style:normal;
    display: flex;
    align-items: center;
}

.price{
   width:79px;
   height:52px;
   font-weight:var(--heading-weight);
   font-size:65px;
   line-height:52px;
   margin:0px;
   
}

.term{
    font-size: 20px;
    font-weight:var(--body-weight);
    line-height:32px;
    letter-spacing: -0.2px;
    width:70px;
    height:32px;
    margin-left:16px;
}

.black{
    width: 296px;
    height: 61px;
    background-color: var(--bg-black);
    color: var(--text-white);
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    margin-top:32px;
    margin-left:42px;
    border-radius:12px;
}

.apple{
    width:17px;
    height:16px;
}

.white{
    width: 296px;
    height: 61px;
    background-color: var(--bg-white);
    color: var(--text-black);
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    margin-top:16px;
    margin-left:42px;
    border-radius:12px;
    letter-spacing: -0.18px;
    border:none;
}

.android{
    width:17px;
    height:16px;
    border:none;
}

footer{
    width: 375px;
    height: 233px;
    margin: 390px auto 0 auto;
    margin-bottom:80px;
}

.logo-footer{
    width: 146px;
    height: 32px;
    margin-left: 25px;
}

.para-footer{
    width: 327px;
    height: 105px;
    color: var(--bg-black);
    font-size: var(--body-m);
    line-height: 26px;
    font-weight: 400;
    margin-left: 24px;
    margin-top: 32px;
}

.equalizer{
    white-space: pre-line;
    font-weight:var(--heading-weight);
    padding-right: 50%;
}

.socials{
    width: 100px;
    height: 20px;
    display: flex;
    margin-top: 64px;
    margin-left: 24px;
}

.socials img{
    width:20px;
    height:20px;
    margin-right:20px;
}
@media (min-width:768px) {
    header{
        height:632px;
    }
    .bg-color{
        display: block;
        width:267px;
        height:400px;
        position:absolute;
        left: 69%;
        top: -32px;
    }

    .logo{
        margin-left: 39.15px;
        margin-top: 61.99px;
    }

    .bg-light{
        content:url(./assets/bg-main-tablet.png);
        position: absolute;
        width: 162%;
        height: 897px;
        left: -335px;
        top: -194px;
    }

    .section-one{
        width:520px;
        height:332px;
        margin-top:-500px;
        margin-left:39px;
    }
    h1{
        height:192px;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        margin-bottom:0px;
    }

    .para-one{
        width: 514px;
        height: 112px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-top:28px;
    }

    .mobile {
        width: 270px;
        height: 556px;
        margin-left: -94px;
        margin-top: -135px;
    }

    .section-two {
        width: 89%;
        height: 600px;
        margin-top: 633px;
        margin-left: auto;
        margin-right: auto;
    }

    .bg-mobile{
        margin-left: 66px;
        margin-top: -28px;
    }
    .section-three {
        width: 48%;
        margin-top: -493px;
        margin-left: 272px;
        background-color: transparent;
    }
    .wrapper-three{
        background-color: var(--bg-orange);
        border-radius: 12px;
    }
    h2{
        padding-top:45px;
    }

    footer {
        width: 696px;
        height: 143px;
        margin: 183px auto 0 auto;
        margin-bottom: 80px;
        display: flex;
    }
    .equalizer{
        padding-right:0;
    }

    .rights{
        padding-right:50%;
    }
    .para-footer{
        margin-left: -147px;
        margin-top: 64px;
        margin-right: 206px;
        width:349px;
    }
    .wrapper{
        width:100%
    }
}

    @media (min-width:1440px) {
        .logo{
            margin-left: 166px;
            margin-top: 62px;
        }

        .bg-color{
            width: 321px;
            height: 468px;
            left: 77.5%;
        }
        .bg-light{
            display: none;

        }

        .wrapper {
            background-image: url(./assets/bg-main-desktop.png);
            width:100%;
            background-position-x: -307px;
            background-position-y: -210px;
        }
        .section-one{
            width: 1015px;
            height: 318px;
            margin-left: 165px;
            margin-top: -468px;
        }

        h1{
            font-size: 88px;
            line-height: 88px;
            height: 176px;
            width: 1015px;
        }

        .para-one{
            width: 825px;
            height: 103px;
            font-size: 20px;
            line-height: 34px;
            margin-top: 40px;
        }

        .section-two{
            width: 76%;
            height: 600px;
            margin-top: 705px;
        }

        .wrapper-two{
            width:100%;

        }
        .mobile{
            margin-left: 118px;
            width: 312px;
            height: 642px;
            margin-top: -213px;
        }

        .bg-mobile{
            width: 312px;
            height: 468px;
            margin-left: 352px;
            margin-top: -40px;
        }

        .section-three{
            width: 31%;
            height: 625px;
            margin-top: -558px;
            margin-left: 722px;
        }
        h2{
            font-size: 40px;
            line-height: 52px;
            margin-top: 58px;
            width: 333px;
            height: 52px;
       }

       .black{
        width: 333px;
        height: 62px;
        margin-top:46px;
        border:none;
        cursor: pointer;
       }
       .black:hover{
        background-color: var(--bg-blue);
       }

       .white{
        width: 333px;
        height: 61px;
       }

       .white:hover{
        background-color: #FFB964;
       }
       .wrapper-three{
        width:446px;
        height:100%;
       }

        footer{
            width: 1110px;
            height: 79px;
            margin-top:202px;
        }

        .logo-footer{
            margin-left:0px;
        }

        .para-footer{
            margin-top:0px;
            margin-left:139px;
            margin-right:359px;
            width: 366px;
            height: 79px;
            font-size: 16px;
            line-height: 26px;
        }

       .para-two{
        width: 333px;
        height: 170px;
        font-size: 20px;
        line-height: 34px;
        margin-top:22px;
       }

       .equalizer{
        padding-right:0px;

    }

    .socials{
        margin-top:0px;
    }

    .socials img:hover{
        cursor:pointer;
        background-color: #FFB964;
        
        
    }
}
    
