:root {
    --bg-black:#191826;

    --heading-l:86px;
    --heading-m:40px;
    --body-l:20px;
    --body-m:16px;

    --heading-weight:700;
    --body-weight:400;

    --bg-black:#191826;
    --bg-orange:#fa7453;
    --bg-blue:#66e2dc;
    --bg-white:#fcfaf9;

    --text-white: #fcfaf9;
    --text-black:#191826;
    
    
}

